﻿@model ToDoList_Domain.Models.ToDoList

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ToDoList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group"> 
                <label asp-for="ToDoListName" class="control-label"></label>
                <input asp-for="ToDoListName" class="form-control" />
                <span asp-validation-for="ToDoListName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoListDescription" class="control-label"></label>
                <input asp-for="ToDoListDescription" class="form-control" />
                <span asp-validation-for="ToDoListDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHidden" /> @Html.DisplayNameFor(model => model.IsHidden)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
