﻿@model IEnumerable<ToDoList_Domain.Models.ToDoList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<button type="submit" id="checkReminderButton">Check Reminders</button>

<script>
    document.querySelector("#checkReminderButton").onclick = async function(){
            await fetch("@Url.Action("CheckReminder", "ToDoEntries")")
                .then(response => response.json())
                .then(data => alert("Todays reminders count: " + data));
    }
</script>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> 
                @Html.DisplayNameFor(model => model.ToDoListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoListDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHidden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="hidden-object" data-is-hidden="@item.IsHidden.ToString()">
            <td>
                @Html.DisplayFor(modelItem => item.ToDoListName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoListDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHidden)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a href="@Url.Action("Create", "ToDoEntries", new { id = item.Id })">AddEntry</a> |
                <a href="@Url.Action("EntriesDueToday", "ToDoEntries")">DueToday</a> |
                <a asp-action="CopyList" asp-route-id="@item.Id" data-method="post">CopyList</a>
            </td>
        </tr>
}
    </tbody>
</table>
